.card{
    width: 200px;
    height: 200px;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    overflow: hidden;
    background-color: whitesmoke;
}


.wrapper{
    display: flex;
    flex-direction: row;
}



.card img {
    max-width: 100%;
    max-height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.card .age , . card .rank , .card .kagune{
    margin-top: 5px;
}


.card .name{
    font-size: 18px;
    font-weight: bold;
    color: #333;
}
.card .rank{
    font-style: italic;
}

.card .rank{
    font-style: italic;
    font-size: 14px;
    color: red;
}

.card .kagune{
    font-weight: 17;
    color: blue;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url("images/bg.jpg");
    background-size: cover;
    background-position: center;
}